[submodule "RTS/dependencies/entt"]
	path = RTS/dependencies/entt
	url = https://github.com/skypjack/entt.git
[submodule "include/Vorb/ui/imgui"]
	path = include/Vorb/ui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "RTS/dependencies/ozz-animation"]
	path = RTS/dependencies/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "RTS/dependencies/yojimbo"]
	path = RTS/dependencies/yojimbo
	url = https://github.com/networkprotocol/yojimbo.git
[submodule "RTS/dependencies/bullet"]
	path = RTS/dependencies/bullet
	url = https://github.com/bulletphysics/bullet3
[submodule "RTS/dependencies/eventpp"]
	path = RTS/dependencies/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "RTS/dependencies/spdlog"]
	path = RTS/dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "RTS/dependencies/meshoptimizer"]
	path = RTS/dependencies/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git

